{% extends "base.html" %}

{% block content %}
    <h1><div class="text"><p>Три.ч</p></div></h1>
	
	
	<h2><font size="5" face="Times New Roman">Три.ч - это система форумов, где можно общаться быстро и свободно, где любая точка зрения имеет право на жизнь.
        Вам не нужно как либо подписываться, хотя это не избавляет вас от необходимости соблюдать правила.
        Все форумы (кроме /Б/реда), а их список находится снизу, имеют собственную чётко ограниченную тематику.
        Словом, всё, что не запрещено правилами отдельно взятого форума и относится к его тематике, на этом форуме разрешено.</font></h2>
        <a href="/thread1"><font size="6" face="Times New Roman">/Б/ред</font></a><br>
		<a href="/thread2"><font size="6" face="Times New Roman">Программирование</font></a><br>
		<a href="/thread3"><font size="6" face="Times New Roman">Истории</font></a><br>
		<a href="/thread4"><font size="6" face="Times New Roman">Технари и иже с ними</font></a><br>
		<a href="/thread5"><font size="6" face="Times New Roman">Гуманитарии</font></a><br>
		<a href="/thread6"><font size="6" face="Times New Roman">Флудильня</font></a><br>
{% endblock %}